thead{
    background-color: #C73D27;
    color: #fff;
}

thead th{
    text-align: center;
    border: 1px solid  #000;
}

tbody td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid  #000;
}
